<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <form action="{{ url_for('forward') }}" method="post">
      <input type="submit" value="Forward">
    </form>

    <form action="{{ url_for('left') }}" method="post">
      <input type="submit" value="Left">
    </form>

    <form action="{{ url_for('right') }}" method="post">
      <input type="submit" value="Right">
    </form>
  </body>
  <script>
    var servos;
    servos = moveServos();
    function moveServos() {
      return {
        move:function(servo, adjustment) {
          var value;
          if(servo == 'N') {
            arduino.write("H");
          }
        },
      }
    }
  </script>
</html>
